.form-button {
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #8fe5d1;
  border: none;
}

.form-button:hover:not(.form-button_active) {
  background-color: #d1f3f5;
}

.form-button_active {
  color: #ffffff;
  background-color: #14dece;
}

